<h4>駅名検索</h4>

<ul data-turbolinks="false">
  <!-- 検索フォーム -->
  <%= form_tag root_path, method: :get, enforce_utf8: false do %>
    <div class="form-group">
      <%= search_field_tag :q, params[:q], class: 'form-control', placeholder: '店名、場所、カテゴリ' %>
    </div>
    <button type="submit" class="btn btn-default">検索</button>
  <% end %>
</ul>